* {
  font-family: Arial, Helvetica, sans-serif;
  color: slateblue;
  background-color: whitesmoke;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  user-select: none;
  -webkit-user-select: none;
}

h1 {
  margin: 3px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 540px;
}

.row_container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 540px;
  min-height: 5px;
  flex: auto;
}

.grid_square {
  border: solid 1px slategrey;
  height: 100%;
  margin: 0;
  padding: 0;
  flex: auto;
}

.top_edge {
  border-top-color: black;
  border-top-width: 2px;
}

.bottom_edge {
  border-bottom-color: black;
  border-bottom-width: 2px;

}

.left_edge {
  border-left-color: black;
  border-left-width: 2px;

}

.right_edge {
  border-right-color: black;
  border-right-width: 2px;

}

.button_row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex: 1;
}

button {
  border-radius: 4px;
  padding: 12px 10px;
  font-weight: bolder;
  margin: 0;
  box-shadow: none;
}

.black {
  color: black;
}

.rainbow {
  background: linear-gradient(to right, red, yellow 35%, limegreen 50%, royalblue 90%, purple);
  background-clip: text;
  /*add this line, it defines how far the background should extend within an element, here we set it to text */
  -webkit-background-clip: text;
  /* add this line, for browsers compatibility */
  -webkit-text-fill-color: transparent;
}

.shading {
  background: linear-gradient(to right, lightgray, black);
  background-clip: text;
  /*add this line, it defines how far the background should extend within an element, here we set it to text */
  -webkit-background-clip: text;
  /* add this line, for browsers compatibility */
  -webkit-text-fill-color: transparent;
}